.delete {
  text-decoration: line-through;
}
li{
    
    font-family:'nebulousregular'; 
}
h2{
    
    font-family:'nebulousregular'; 
}
::placeholder
{font-family:'nebulousregular'; 
    color: black;
}
input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }
  input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}